.list-group-item-chang{
  border: 0px;
}
.list-group-item.active{
  background-color: $light ;
  color: $dark;
  border: 1px solid $gray-300;
}
.title-warp{
 width: 1150px;
}
.card-image{
    width: 40px;
    height:40px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emilywang.jpeg?raw=true);
    background-size: 40px; 
    display: block;
    border-radius: 50%;
}
.card-image2{
    width: 40px;
    height:40px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true);
    background-size: 40px; 
    display: block; 
    border-radius: 50%; 
}
.btn-w{
 padding: 8px 12px;
 width:190px ;
}