.nav{
    position: fixed;
    min-width: 200px;
    min-height: 100vh;

}
.nav-link.active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
}
.image-s{
    width: 40px;
    height:40px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true);
    background-size: 40px; 
    display: block;    
}
.member-mt{
    margin-top: 500px;
}